# Системные папки вашей IDE (PyCharm / GigaIDE)
.idea/
.vscode/
.gigaide

# Кэш компиляции Python (автоматически создается при запуске кода)
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение (если вы его создавали в проекте)
venv/
.venv/
env/

# Файлы операционной системы
.DS_Store
Thumbs.db